body {
  background-color: #082140;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.mainheading {
  margin-top: 50px;
  text-align: center;
  color: #ff00ff;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 28px;
}

.support {
  text-align: center;
  color: #d3d3d3;
  font-size: 18px;
  font-weight: bold;
  margin: 0px auto 5px auto;
  max-width: 800px;
  padding: 0px;
  line-height: 1.5;
  font-family: "Exo 2", sans-serif;
}

.description {
  text-align: center;
  background: white;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-style: italic;
  font-size: 25px;
  padding: 40px;
  margin: 50px auto;
  max-width: 550px;
}

.images-container {
  width: 90%;
  margin: 60px auto;
  padding: 20px;
  background-color: rgba(5, 5, 5, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  object-fit: cover;
  max-width: 1200px;
}

.image-grid img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 0%;
  display: block;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

hr {
  border: 1px solid #00ffff;
  margin-top: 200px;
}

nav {
  position: sticky;
  top: 0;
  background-color: #082140;
  z-index: 900;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.menu {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.menu-btn {
  font-size: 35px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #082140;
  color: #00ffff;
  border: none;
}

.menu-content {
  position: fixed;
  top: 0;
  right: -260px;
  width: 250px;
  height: 100%;
  background: rgba(1, 12, 25, 0.95);
  backdrop-filter: blur(10px);
  padding-top: 80px;
  transition: right 0.3s ease;
  z-index: 1050;
}

.menu-content.active {
  right: 0;
}

.menu-content a {
  display: block;
  padding: 20px;
  color: #00ffff;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  border: 1px solid #010c19;
  transition: 0.3s; 
}

.menu-content a:hover {
  color: #0ff;
  background: rgba(0,255,255,0.05);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  z-index: 1000;
}

.overlay.active {
  display: block;
}

.index-description {
  font-style: italic;
  font-size: 25px;
  line-height: 1.2;
  padding: 10px 5px;
  margin: 20px auto;
  max-width: 1000px;
  background: linear-gradient(90deg, #08f, rgb(203, 46, 231), #0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 90%;
  background-color: rgba(15, 18, 34, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.feature-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Press Start 2P", cursive;
  color: #ff00ff;
  text-align: center;
  text-orientation: mixed;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.feature-list {
  list-style: none;
  padding: 0;
  font-size: 20px;
  color: #00ffff;
  line-height: 1.5;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-weight: bold;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.video-player {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

summary,
details {
  padding: 0;
  font-size: 18px;
  color: #d3d3d3;
  line-height: 1.5;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-weight: bold;
  flex: 1;
}

.how-it-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 90%;
  padding: 20px;
}

.how-it-works-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Press Start 2P", cursive;
  color: #ff00ff;
  text-align: center;
  text-orientation: mixed;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.how-it-works-list {
  list-style: none;
  padding: 40px;
  font-size: 18px;
  color: #00ffff;
  line-height: 1.5;
  font-family: "Exo 2", sans-serif;
  text-align: left;
  font-weight: bold;
  flex: 1;
}

.how-it-works-list li::before {
  content: "•";
  color: #00ffff;
  font-weight: bold;
  margin-right: 10px;
}

.subheading {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "Audiowide", cursive;
}

.subheading1 {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "Audiowide", cursive;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  gap: 20px;
}

.member {
  text-align: center;
}

.member img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: 0px;
}

.team-members a {
  color: #00ffff;
  font-size: 8px;
  margin-top: 10px;
  font-family: "Press Start 2P", cursive;
}

.team-number {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Audiowide", cursive;
}
